.certificate {
  height: 845px;
  padding-top: 115px;

  &-image {
    width: 323px;
    height: 497px;
    margin-left: 190px;
    background: url("../imgs/certificate.jpg") no-repeat;
    outline: 2px solid black;
    outline-offset: 8px;
  }

  &-description {
    padding-left: 28px;

    h2 {
      font: {
        family: "Lato-Heavy";
        size: 40px;
      }
      line-height: 43px;
      text-transform: uppercase;
    }

    p {
      &:first-of-type {
        font: {
          family: "Lato-Regular";
          size: 20px;
        }
        padding-top: 15px;
        color: #21478b;
        line-height: 30px;
        text-transform: uppercase;
      }

      &:last-of-type {
        font: {
          family: "Lato-Heavy";
          size: 24px;
        }
        padding: {
          top: 36px;
          bottom: 35px;
        }
        color: black;
        line-height: 35px;
        text-transform: uppercase;
      }
    }

    span {
      font-family: "Lato-Black";
      color: black;
    }
  }
}
