.footer-banner {
  height: 388px;
  background: url("../imgs/become-partner.jpg") center center no-repeat;
  background-size: cover;
  color: white;
  text-align: center;

  h1 {
    font: {
      family: "RadomirTinkov-Gilroy-ExtraBold";
      size: 55px;
    }
    padding-top: 85px;
    margin: 0;
    text-transform: uppercase;
  }

  p {
    font: {
      family: "Lato-Regular";
      size: 22px;
    }
    padding-top: 5px;
  }

  a {
    margin-top: 52px;
  }
}
