%footer-text {
  font: {
    family: "Lato-Semibold";
    size: 12px;
  }
  text-transform: uppercase;
  color: black;
  line-height: 25px;
}

footer {
  height: 267px;

  h2 {
    margin: 0;
  }

  .row {
    padding-top: 42px;
  }

  a {
    @extend %footer-text;

    &:hover {
      color: black;
    }
  }

  li {
    @extend %footer-text;
  }
}

.footer {
  &-logo {
    background: url("../imgs/logo-black.png") no-repeat;
    width: 138px;
    height: 49px;
  }

  &-header {
    font: {
      family: "RadomirTinkov-Gilroy-ExtraBold";
      size: 20px;
    }
    text: {
      transform: uppercase;
      align: left;
    }
    color: #001e3a;
    line-height: 28px;
    margin-bottom: 10px;
  }

  &-content {
    display: inline-block;

    &:first-child {
      padding-left: 75px;
    }
  }
}

.payment {
  &-perfect-money {
    @extend %spritesheet;
    background-position: -10px -370px;
    margin: {
      top: 12px;
      bottom: 12px;
    }
    width: 146px;
    height: 30px;
  }

  &-ripple {
    @extend %spritesheet;
    background-position: -463px -316px;
    margin-bottom: 17px;
    width: 80px;
    height: 23px;
  }

  &-bitcoin {
    @extend %spritesheet;
    background-position: -240px -307px;
    margin-bottom: 18px;
    width: 85px;
    height: 18px;
  }

  &-advcash {
    @extend %spritesheet;
    background-position: -240px -264px;
    width: 83px;
    height: 23px;
  }
}
