.navbar {
  background-color: rgba(30, 37, 45, 0.29);
  height: 81px;

  &-brand {
    background: url("../imgs/logo.png") no-repeat;
    width: 115px;
    height: 40px;
    margin: {
      left: 12px;
      right: 32px;
    }
  }

  &-border {
    height: 1px;
    width: 100%;
    background-color: $white;
    mix-blend-mode: overlay;
  }

  .nav {
    padding: 0 40px;
    height: 40px;
    border: {
      left: 1px solid $white;
      right: 1px solid $white;
    }

    &-link {
      padding: 10px 17px 10px 15px;
      text-align: center;
      font: {
        family: "Lato-Semibold";
        size: 0.75em;
      }
      letter-spacing: 0.1px;
      border-bottom: 2px solid rgba(white, 0);

      @include transition;

      &:hover {
        border-bottom: 2px solid $white;
      }
    }
  }
}
