.news {
  height: 740px;
  padding-top: 110px;

  &-content {
    h2 {
      display: inline-block;
      font-family: "RadomirTinkov-Gilroy-ExtraBold";
      text-align: left;
      margin: 0;
      font-size: 22px;
      line-height: 27px;
      color: black;
    }

    h3 {
      position: absolute;
      font: {
        family: "Lato-Heavy";
        size: 13px;
      }
      color: $white;
      line-height: 16px;
      bottom: 2px;
      left: 32px;
    }

    p {
      display: inline-block;
      font: {
        family: "Gilroy Light";
        size: 14px;
      }
      text-align: left;
      line-height: 21px;
      padding-top: 14px;
      width: 305px;
      color: #464646;
    }

    a {
      font: {
        family: "RadomirTinkov-Gilroy-ExtraBold";
        size: 12px;
      }
      display: inline-block;
      text-align: left;
      position: absolute;
      color: #346393;
      letter-spacing: 0.5px;
      line-height: 16px;
      bottom: 20px;
      left: 32px;
      border-bottom: 1px solid #346393;

      &:after {
        @extend %pseudo-absolute;
        background: url("../imgs/arrow.png") center center no-repeat;
        padding: {
          top: 6px;
          bottom: 6px;
          left: 18px;
          right: 0;
        }
        width: 8px;
        height: 6px;
        right: -18px;
        bottom: 1px;
      }
    }

    figure {
      position: relative;
      height: 451px;
      width: 362px;
      background-color: $white;
      box-shadow: 0 0 90px rgba(black, 0.07);
    }

    article {
      &:first-child {
        .news-content-image {
          background: url("../imgs/news-pic-1.jpg") no-repeat;
        }
      }

      &:nth-child(2) {
        .news-content-image {
          background: url("../imgs/news-pic-2.jpg") no-repeat;
        }
      }

      &:last-child {
        .news-content-image {
          background: url("../imgs/news-pic-3.jpg") no-repeat;
        }
      }
    }

    &-description {
      padding: 20px 32px;
    }

    &-image {
      position: relative;
      width: 362px;
      height: 176px;
    }
  }
}
