.pdf-materials {
  padding-top: 115px;

  &-img {
    width: 262px;
    height: 242px;

    h2 {
      font: {
        family: "RadomirTinkov-Gilroy-ExtraBold";
        size: 29px;
      }
      text: {
        transform: uppercase;
        align: center;
      }
      letter-spacing: 1px;
      color: $white;
      line-height: 32px;
      margin-bottom: 55px;
      padding-top: 32px;
    }
  }

  &-content {
    .row {
      .col-3 {
        &:first-child {
          .pdf-materials-img {
            background: url("../imgs/pdf-materials-pic-1.jpg") no-repeat;
          }
        }

        &:nth-child(2) {
          .pdf-materials-img {
            background: url("../imgs/pdf-materials-pic-2.jpg") no-repeat;
          }
        }

        &:nth-child(3) {
          .pdf-materials-img {
            background: url("../imgs/pdf-materials-pic-3.jpg") no-repeat;
          }
        }

        &:last-child {
          .pdf-materials-img {
            background: url("../imgs/pdf-materials-pic-4.jpg") no-repeat;
          }
        }
      }
    }
  }
}
