.pdf-materials-btn, .news-slider .slider-controls, .news-slider, .modal-content .modal-footer, .about-us-video, .our-plans-icon, .article-title:after, .holding-content figcaption h2, .our-advantages-image {
  margin: 0 auto; }

.rounded-btn, .partner-btn, .pdf-materials-btn, .check-btn, .check-btn:hover, .login-btn, .lang-btn, .article-title {
  text-align: center;
  vertical-align: middle; }

.holding-content-watch-btn {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

.our-plans-icon, .our-advantages-image, .payment-perfect-money, .payment-ripple, .payment-bitcoin, .payment-advcash {
  background: url("../imgs/spritesheet.png") no-repeat; }

.lang-btn:after, .lang-btn:before, .play-btn, .holding-content-watch-btn:before, .news-play-btn, .modal-close-footer-btn:before, .news-slider .slider-controls label, .modal-content .modal-header .modal-title:before, .about-us-img:before, .our-advantages-content .row:before, .our-advantages-content .row:after, .news-content a:after {
  content: "";
  position: absolute; }

.our-plans-content .row:first-child .our-plans-border:first-child, .our-plans-content .row:first-child .our-plans-border:nth-child(2), .our-plans-content .row:first-child .our-plans-border:nth-child(3) {
  border-right: 1px solid rgba(255, 255, 255, 0.5); }

.our-plans-content .row:last-child .our-plans-border:first-child, .our-plans-content .row:last-child .our-plans-border:nth-child(2), .our-plans-content .row:last-child .our-plans-border:nth-child(3) {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5); }

.modal-close-btn, .modal-close-footer-btn {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none; }
  .modal-close-btn:focus, .modal-close-footer-btn:focus {
    outline: none; }
  .modal-close-btn:hover, .modal-close-footer-btn:hover {
    cursor: pointer; }

p,
figure {
  margin: 0; }

.container,
.col {
  padding: 0; }

a {
  color: white; }
  a:hover {
    color: white;
    text-decoration: none; }

ul {
  list-style: none; }

@font-face {
  font-family: "Lato-Black";
  src: url("../fonts/Lato-Black.ttf"); }

@font-face {
  font-family: "Lato-Heavy";
  src: url("../fonts/Lato-Heavy.ttf"); }

@font-face {
  font-family: "Lato-Bold";
  src: url("../fonts/Lato-Bold.ttf"); }

@font-face {
  font-family: "Lato-Semibold";
  src: url("../fonts/Lato-Semibold.ttf"); }

@font-face {
  font-family: "Lato-Medium";
  src: url("../fonts/Lato-Medium.ttf"); }

@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/Lato-Regular.ttf"); }

@font-face {
  font-family: "Lato-Light";
  src: url("../fonts/Lato-Light.ttf"); }

@font-face {
  font-family: "RadomirTinkov-Gilroy-ExtraBold";
  src: url("../fonts/RadomirTinkov-Gilroy-ExtraBold.otf"); }

@font-face {
  font-family: "RadomirTinkov-Gilroy-Light";
  src: url("../fonts/RadomirTinkov-Gilroy-Light.otf"); }

.rounded-btn, .partner-btn, .pdf-materials-btn, .check-btn, .check-btn:hover {
  -webkit-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  transition: 0.2s ease all;
  position: relative;
  display: inline-block;
  font-family: "Lato-Medium";
  font-variant: small-caps;
  font-size: 23px;
  line-height: 53px;
  width: 240px;
  height: 60px;
  border: 2px solid white;
  border-radius: 60px;
  color: rgba(255, 255, 255, 0.75);
  filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.5)); }

.login-btn {
  font-family: "Lato-Medium";
  font-size: 12px;
  color: white;
  padding: 9.5px 0; }
  .login-btn:hover {
    cursor: pointer; }

.lang-btn {
  position: relative;
  font-family: "Lato-Heavy";
  font-size: 10px;
  line-height: 24px;
  color: white;
  width: 28px;
  height: 27px;
  margin-right: 13px;
  border: 2px solid white; }
  .lang-btn:after {
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    width: 6px;
    height: 6px;
    bottom: 9px;
    right: -16px;
    transform: rotate(45deg); }
  .lang-btn:before {
    width: 20px;
    height: 20px;
    right: -22px;
    bottom: 1px; }
  .lang-btn:hover {
    cursor: pointer; }

.partner-btn {
  margin-top: 50px; }

.play-btn {
  -webkit-transition: 0.15s ease-in-out all;
  -o-transition: 0.15s ease-in-out all;
  -moz-transition: 0.15s ease-in-out all;
  transition: 0.15s ease-in-out all;
  background: url("../imgs/play-btn.svg") no-repeat;
  width: 119px;
  height: 119px;
  top: 36px;
  left: 125px; }
  .play-btn:hover {
    cursor: pointer;
    transform: scale(0.925); }

.holding-content-watch-btn {
  background: #0263a3;
  background: -moz-linear-gradient(left, #11365c 0%, #0263a3 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #11365c), color-stop(100%, #0263a3));
  background: -webkit-linear-gradient(left, #11365c 0%, #0263a3 100%);
  background: -o-linear-gradient(left, #11365c 0%, #0263a3 100%);
  background: -ms-linear-gradient(left, #11365c 0%, #0263a3 100%);
  background: linear-gradient(to right, #11365c 0%, #0263a3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#11365c, endColorstr=#0263a3);
  position: relative;
  font-family: "RadomirTinkov-Gilroy-ExtraBold";
  font-size: 18px;
  text-transform: uppercase;
  line-height: 42px;
  padding-left: 22px;
  margin-top: 25px;
  width: 262px;
  height: 42px;
  letter-spacing: 1px;
  color: white; }
  .holding-content-watch-btn:hover {
    cursor: pointer; }
  .holding-content-watch-btn:before {
    background: url("../imgs/play-btn.svg") no-repeat;
    width: 27px;
    height: 27px;
    top: 8px;
    right: 23px; }

.pdf-materials-btn {
  display: block;
  font-family: "Lato-Light";
  font-size: 16px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  line-height: 47.5px;
  width: 153px;
  height: 49px; }

.news-play-btn {
  -webkit-transition: 0.15s ease-in-out all;
  -o-transition: 0.15s ease-in-out all;
  -moz-transition: 0.15s ease-in-out all;
  transition: 0.15s ease-in-out all;
  background: url("../imgs/play-btn.svg") no-repeat;
  width: 47px;
  height: 47px;
  bottom: 48px;
  left: 26px; }
  .news-play-btn:hover {
    cursor: pointer;
    transform: scale(0.925); }

.modal-close-btn, .modal-close-footer-btn {
  padding: 2px; }
  .modal-close-btn:before, .modal-close-footer-btn:before {
    content: "";
    display: block;
    background: url("../imgs/close-btn.svg") center center no-repeat;
    height: 15px;
    width: 15px; }

.modal-close-footer-btn {
  width: 85px;
  height: 50px;
  padding: 0;
  position: relative; }
  .modal-close-footer-btn:before {
    top: 16.9px;
    left: -2px; }
  .modal-close-footer-btn p {
    display: inline-block;
    font-family: "Lato-Black";
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    line-height: 25px;
    padding-left: 18px;
    margin-bottom: 1px;
    color: #c3c3c3; }

.check-btn, .check-btn:hover {
  border-color: black;
  color: black; }
  .check-btn:hover {
    border-color: black;
    color: black; }

.news-slider input[type="radio"] {
  display: none; }

.news-slider .slider-controls {
  position: relative;
  font-size: 0; }
  .news-slider .slider-controls label {
    width: 26px;
    height: 26px;
    margin: 0;
    border: 10px solid white;
    border-radius: 50%;
    background-color: #2d2d2d;
    cursor: pointer; }
    .news-slider .slider-controls label:first-child {
      left: -50px; }
    .news-slider .slider-controls label:nth-child(2) {
      left: -11px; }
    .news-slider .slider-controls label:last-child {
      left: 28px; }

.news-slider #btn-1:checked ~ .slider-controls label[for="btn-1"],
.news-slider #btn-2:checked ~ .slider-controls label[for="btn-2"],
.news-slider #btn-3:checked ~ .slider-controls label[for="btn-3"] {
  -webkit-transition: 0.2s ease-in-out box-shadow;
  -o-transition: 0.2s ease-in-out box-shadow;
  -moz-transition: 0.2s ease-in-out box-shadow;
  transition: 0.2s ease-in-out box-shadow;
  background-color: #88bbf2;
  box-shadow: 0 0 0 2.5px #88bbf2; }

.news-slider {
  padding-top: 40px; }

.modal-dialog {
  min-width: 600px; }

.modal-content {
  border: none;
  box-shadow: 0 0 90px rgba(0, 0, 0, 0.07); }
  .modal-content .modal-header {
    min-height: 75px;
    padding: 28px; }
    .modal-content .modal-header .modal-title {
      position: relative;
      color: #232323;
      font-family: "RadomirTinkov-Gilroy-ExtraBold";
      font-size: 17px;
      margin-left: 43px;
      width: 450px;
      text-align: left;
      line-height: 19px;
      letter-spacing: 0.4px; }
      .modal-content .modal-header .modal-title:before {
        top: 2.5px;
        left: -40px;
        width: 13.5px;
        height: 13.5px;
        background: #22c4f0;
        background: -moz-linear-gradient(left, #0eb4e8 0%, #22c4f0 100%);
        background: -webkit-gradient(linear, left top, right top, color-stop(0%, #0eb4e8), color-stop(100%, #22c4f0));
        background: -webkit-linear-gradient(left, #0eb4e8 0%, #22c4f0 100%);
        background: -o-linear-gradient(left, #0eb4e8 0%, #22c4f0 100%);
        background: -ms-linear-gradient(left, #0eb4e8 0%, #22c4f0 100%);
        background: linear-gradient(to right, #0eb4e8 0%, #22c4f0 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#0eb4e8, endColorstr=#22c4f0);
        transform: rotate(45deg); }
  .modal-content .modal-body {
    padding: 0;
    width: 600px; }
    .modal-content .modal-body iframe {
      width: 100%;
      height: 337px; }
  .modal-content .modal-footer {
    height: 50px; }

header {
  height: 668px;
  background: url("../imgs/banner.jpg") center center no-repeat;
  background-size: cover; }

.header-banner {
  text-align: center;
  color: white;
  margin-top: 190px; }
  .header-banner h1 {
    font-family: "RadomirTinkov-Gilroy-ExtraBold";
    font-size: 90px;
    line-height: 66px; }
  .header-banner p {
    font-family: "Lato-Medium";
    font-size: 25px;
    line-height: 48px; }

.navbar {
  background-color: rgba(30, 37, 45, 0.29);
  height: 81px; }
  .navbar-brand {
    background: url("../imgs/logo.png") no-repeat;
    width: 115px;
    height: 40px;
    margin-left: 12px;
    margin-right: 32px; }
  .navbar-border {
    height: 1px;
    width: 100%;
    background-color: white;
    mix-blend-mode: overlay; }
  .navbar .nav {
    padding: 0 40px;
    height: 40px;
    border-left: 1px solid white;
    border-right: 1px solid white; }
    .navbar .nav-link {
      padding: 10px 17px 10px 15px;
      text-align: center;
      font-family: "Lato-Semibold";
      font-size: 0.75em;
      letter-spacing: 0.1px;
      border-bottom: 2px solid rgba(255, 255, 255, 0);
      -webkit-transition: 0.2s ease all;
      -o-transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      transition: 0.2s ease all; }
      .navbar .nav-link:hover {
        border-bottom: 2px solid white; }

.about-us {
  padding-top: 95px; }
  .about-us-video {
    width: 367px;
    height: 191px;
    position: relative; }
  .about-us-img {
    position: relative;
    background: url("../imgs/inspiration.jpg") no-repeat;
    width: 540px;
    height: 504px;
    margin-top: 6px;
    margin-right: 40px; }
    .about-us-img:before {
      top: 88px;
      left: -58px;
      background-image: url("../imgs/pics.png");
      width: 680px;
      height: 317px; }
  .about-us .video-1 {
    background: url("../imgs/our-plans-video-1.jpg") no-repeat;
    margin-right: 16px; }
  .about-us .video-2 {
    background: url("../imgs/our-plans-video-2.jpg") no-repeat;
    margin-left: 16px; }
  .about-us .paragraph {
    font-family: "Lato-Regular";
    font-weight: 600;
    font-size: 16px;
    color: black;
    width: 485px;
    margin: 0; }
    .about-us .paragraph-first {
      line-height: 25px; }
    .about-us .paragraph-second {
      margin-top: 20px;
      line-height: 27px; }
    .about-us .paragraph-third {
      margin-top: 20px;
      line-height: 27px; }
  .about-us-description {
    position: absolute;
    bottom: 20px;
    left: 28px;
    color: white;
    font-family: "Lato-Black";
    font-size: 17px;
    line-height: 28px; }
  .about-us .row:last-child {
    margin: 0;
    margin-top: 125px; }

.our-plans {
  padding-top: 97px; }
  .our-plans-border {
    text-align: center;
    width: 100%;
    height: 255px; }
  .our-plans-content {
    background: url("../imgs/our-plans.jpg") center center no-repeat;
    background-size: cover;
    color: white;
    font-family: "Lato-Semibold";
    font-size: 11.31px;
    line-height: 16.97px;
    height: 628px;
    padding: 62px 0; }
    .our-plans-content .row:first-child .our-plans-icon {
      margin-top: 30px;
      margin-bottom: 30px; }
    .our-plans-content .row:first-child .our-plans-border:first-child .our-plans-icon {
      margin-bottom: 40px;
      width: 95px;
      height: 86px;
      background-position: -122px -149px; }
    .our-plans-content .row:first-child .our-plans-border:nth-child(2) .our-plans-icon {
      width: 73px;
      height: 96px;
      background-position: -370px -10px; }
    .our-plans-content .row:first-child .our-plans-border:nth-child(3) .our-plans-icon {
      width: 75px;
      height: 96px;
      background-position: -264px -127px; }
    .our-plans-content .row:first-child .our-plans-border:last-child .our-plans-icon {
      width: 92px;
      height: 95px;
      background-position: -10px -149px; }
    .our-plans-content .row:last-child .our-plans-icon {
      margin-top: 55px;
      margin-bottom: 30px; }
    .our-plans-content .row:last-child .our-plans-border:first-child .our-plans-icon {
      width: 95px;
      height: 96px;
      background-position: -149px -10px; }
    .our-plans-content .row:last-child .our-plans-border:nth-child(2) .our-plans-icon {
      width: 86px;
      height: 97px;
      background-position: -264px -10px; }
    .our-plans-content .row:last-child .our-plans-border:nth-child(3) .our-plans-icon {
      margin-bottom: 40px;
      width: 95px;
      height: 86px;
      background-position: -10px -264px; }
    .our-plans-content .row:last-child .our-plans-border:last-child {
      border-top: 1px solid rgba(255, 255, 255, 0.5); }
      .our-plans-content .row:last-child .our-plans-border:last-child .our-plans-icon {
        margin-bottom: 45px;
        width: 95px;
        height: 81px;
        background-position: -125px -264px; }

.article-title {
  position: relative;
  font-family: "RadomirTinkov-Gilroy-ExtraBold";
  font-size: 30px;
  margin-bottom: 70px;
  line-height: 54px;
  color: #232323; }
  .article-title:after {
    content: "";
    display: block;
    text-align: center;
    background-color: #0069ae;
    width: 100px;
    height: 4px; }

.about-us .article-title {
  margin-bottom: 100px; }

.our-advantages .article-title {
  margin-bottom: 80px; }

.certificate .article-title {
  margin-bottom: 80px; }

.holding {
  padding-top: 115px; }
  .holding-content figure {
    width: 262px;
    height: 289px;
    background-color: white;
    box-shadow: 0 0 90px rgba(0, 0, 0, 0.07); }
  .holding-content figcaption h2 {
    font-family: "RadomirTinkov-Gilroy-ExtraBold";
    font-size: 29px;
    line-height: 32px;
    padding: 44px 0;
    text-transform: uppercase;
    text-align: center;
    color: white;
    letter-spacing: 1px; }
  .holding-content figcaption p {
    font-family: "Lato-Medium";
    font-size: 15px;
    line-height: 25px;
    text-transform: uppercase;
    text-align: center;
    color: #080808; }
  .holding-content-image {
    width: 262px;
    height: 150px; }
  .holding-content article:first-child .holding-content-image {
    background: url("../imgs/holding-pic-1.jpg") no-repeat; }
  .holding-content article:first-child figcaption p {
    padding-top: 35px; }
  .holding-content article:nth-child(2) .holding-content-image {
    background: url("../imgs/holding-pic-2.jpg") no-repeat; }
  .holding-content article:nth-child(2) figcaption p {
    padding-top: 35px; }
  .holding-content article:nth-child(3) .holding-content-image {
    background: url("../imgs/holding-pic-3.jpg") no-repeat; }
  .holding-content article:nth-child(3) figcaption p {
    padding-top: 47px; }
  .holding-content article:last-child .holding-content-image {
    background: url("../imgs/holding-pic-4.jpg") no-repeat; }
  .holding-content article:last-child figcaption p {
    padding-top: 47px; }

.pdf-materials {
  padding-top: 115px; }
  .pdf-materials-img {
    width: 262px;
    height: 242px; }
    .pdf-materials-img h2 {
      font-family: "RadomirTinkov-Gilroy-ExtraBold";
      font-size: 29px;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 1px;
      color: white;
      line-height: 32px;
      margin-bottom: 55px;
      padding-top: 32px; }
  .pdf-materials-content .row .col-3:first-child .pdf-materials-img {
    background: url("../imgs/pdf-materials-pic-1.jpg") no-repeat; }
  .pdf-materials-content .row .col-3:nth-child(2) .pdf-materials-img {
    background: url("../imgs/pdf-materials-pic-2.jpg") no-repeat; }
  .pdf-materials-content .row .col-3:nth-child(3) .pdf-materials-img {
    background: url("../imgs/pdf-materials-pic-3.jpg") no-repeat; }
  .pdf-materials-content .row .col-3:last-child .pdf-materials-img {
    background: url("../imgs/pdf-materials-pic-4.jpg") no-repeat; }

.our-advantages-content .row:before, .our-advantages-content .row:after {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 300px;
  top: 39px; }

.our-advantages {
  padding-top: 115px; }
  .our-advantages-content h3 {
    font-family: "Lato-Bold";
    font-size: 16px;
    margin: 0;
    margin-top: 12px;
    text-align: center;
    line-height: 48px;
    color: black; }
  .our-advantages-content p {
    font-family: "Lato-Medium";
    font-size: 13px;
    text-align: center;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.75); }
  .our-advantages-content .row {
    position: relative;
    margin: 0; }
    .our-advantages-content .row:before {
      left: 200px; }
    .our-advantages-content .row:after {
      left: 639px; }
  .our-advantages-content article {
    padding: 0; }
    .our-advantages-content article:first-child {
      padding-left: 36px;
      padding-right: 135px; }
      .our-advantages-content article:first-child .our-advantages-image {
        width: 60px;
        height: 82px;
        background-position: -463px -214px; }
    .our-advantages-content article:nth-child(2) .our-advantages-image {
      width: 82px;
      height: 82px;
      background-position: -463px -10px; }
    .our-advantages-content article:last-child {
      padding-left: 135px;
      padding-right: 36px; }
      .our-advantages-content article:last-child .our-advantages-image {
        width: 72px;
        height: 82px;
        background-position: -463px -112px; }

.news {
  height: 740px;
  padding-top: 110px; }
  .news-content h2 {
    display: inline-block;
    font-family: "RadomirTinkov-Gilroy-ExtraBold";
    text-align: left;
    margin: 0;
    font-size: 22px;
    line-height: 27px;
    color: black; }
  .news-content h3 {
    position: absolute;
    font-family: "Lato-Heavy";
    font-size: 13px;
    color: white;
    line-height: 16px;
    bottom: 2px;
    left: 32px; }
  .news-content p {
    display: inline-block;
    font-family: "Gilroy Light";
    font-size: 14px;
    text-align: left;
    line-height: 21px;
    padding-top: 14px;
    width: 305px;
    color: #464646; }
  .news-content a {
    font-family: "RadomirTinkov-Gilroy-ExtraBold";
    font-size: 12px;
    display: inline-block;
    text-align: left;
    position: absolute;
    color: #346393;
    letter-spacing: 0.5px;
    line-height: 16px;
    bottom: 20px;
    left: 32px;
    border-bottom: 1px solid #346393; }
    .news-content a:after {
      background: url("../imgs/arrow.png") center center no-repeat;
      padding-top: 6px;
      padding-bottom: 6px;
      padding-left: 18px;
      padding-right: 0;
      width: 8px;
      height: 6px;
      right: -18px;
      bottom: 1px; }
  .news-content figure {
    position: relative;
    height: 451px;
    width: 362px;
    background-color: white;
    box-shadow: 0 0 90px rgba(0, 0, 0, 0.07); }
  .news-content article:first-child .news-content-image {
    background: url("../imgs/news-pic-1.jpg") no-repeat; }
  .news-content article:nth-child(2) .news-content-image {
    background: url("../imgs/news-pic-2.jpg") no-repeat; }
  .news-content article:last-child .news-content-image {
    background: url("../imgs/news-pic-3.jpg") no-repeat; }
  .news-content-description {
    padding: 20px 32px; }
  .news-content-image {
    position: relative;
    width: 362px;
    height: 176px; }

.certificate {
  height: 845px;
  padding-top: 115px; }
  .certificate-image {
    width: 323px;
    height: 497px;
    margin-left: 190px;
    background: url("../imgs/certificate.jpg") no-repeat;
    outline: 2px solid black;
    outline-offset: 8px; }
  .certificate-description {
    padding-left: 28px; }
    .certificate-description h2 {
      font-family: "Lato-Heavy";
      font-size: 40px;
      line-height: 43px;
      text-transform: uppercase; }
    .certificate-description p:first-of-type {
      font-family: "Lato-Regular";
      font-size: 20px;
      padding-top: 15px;
      color: #21478b;
      line-height: 30px;
      text-transform: uppercase; }
    .certificate-description p:last-of-type {
      font-family: "Lato-Heavy";
      font-size: 24px;
      padding-top: 36px;
      padding-bottom: 35px;
      color: black;
      line-height: 35px;
      text-transform: uppercase; }
    .certificate-description span {
      font-family: "Lato-Black";
      color: black; }

.footer-banner {
  height: 388px;
  background: url("../imgs/become-partner.jpg") center center no-repeat;
  background-size: cover;
  color: white;
  text-align: center; }
  .footer-banner h1 {
    font-family: "RadomirTinkov-Gilroy-ExtraBold";
    font-size: 55px;
    padding-top: 85px;
    margin: 0;
    text-transform: uppercase; }
  .footer-banner p {
    font-family: "Lato-Regular";
    font-size: 22px;
    padding-top: 5px; }
  .footer-banner a {
    margin-top: 52px; }

footer a, footer li {
  font-family: "Lato-Semibold";
  font-size: 12px;
  text-transform: uppercase;
  color: black;
  line-height: 25px; }

footer {
  height: 267px; }
  footer h2 {
    margin: 0; }
  footer .row {
    padding-top: 42px; }
  footer a:hover {
    color: black; }

.footer-logo {
  background: url("../imgs/logo-black.png") no-repeat;
  width: 138px;
  height: 49px; }

.footer-header {
  font-family: "RadomirTinkov-Gilroy-ExtraBold";
  font-size: 20px;
  text-transform: uppercase;
  text-align: left;
  color: #001e3a;
  line-height: 28px;
  margin-bottom: 10px; }

.footer-content {
  display: inline-block; }
  .footer-content:first-child {
    padding-left: 75px; }

.payment-perfect-money {
  background-position: -10px -370px;
  margin-top: 12px;
  margin-bottom: 12px;
  width: 146px;
  height: 30px; }

.payment-ripple {
  background-position: -463px -316px;
  margin-bottom: 17px;
  width: 80px;
  height: 23px; }

.payment-bitcoin {
  background-position: -240px -307px;
  margin-bottom: 18px;
  width: 85px;
  height: 18px; }

.payment-advcash {
  background-position: -240px -264px;
  width: 83px;
  height: 23px; }

.container {
  max-width: 1142px; }

/*# sourceMappingURL=main.css.map */
