%no-indent {
  padding: 0;
  margin: 0;
}

%align-center {
  margin: 0 auto;
}

%text-align {
  text-align: center;
  vertical-align: middle;
}

%no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

%pseudo-absolute {
  content: "";
  position: absolute;
}

%white-faded-right-border {
  border-right: 1px solid rgba(white, 0.5);
}
